flask==0.12
dummy_package_2==0.1.0
dummy_package_3==0.1.0
dummy_package_4==0.1.0
dummy_package_5==0.1.0
dummy_package_6==0.1.0
dummy_package_7==0.1.0
dummy_package_8==0.1.0
dummy_package_9==0.1.0
dummy_package_10==0.1.0
dummy_package_11==0.1.0
dummy_package_12==0.1.0
dummy_package_13==0.1.0
dummy_package_14==0.1.0
dummy_package_15==0.1.0
dummy_package_16==0.1.0
dummy_package_17==0.1.0
dummy_package_18==0.1.0
dummy_package_19==0.1.0
dummy_package_20==0.1.0
dummy_package_21==0.1.0
dummy_package_22==0.1.0
dummy_package_23==0.1.0
dummy_package_24==0.1.0
dummy_package_25==0.1.0
dummy_package_26==0.1.0
